#
# SPEAr13XX Machine configuration file
#

if ARCH_SPEAR13XX

choice
	prompt "SPEAr13XX Family"
	default MACH_SPEAR1300

config MACH_SPEAR1300
	bool "SPEAr1300"
	help
	  Supports ST SPEAr1300 Machine

config MACH_SPEAR1310
	bool "SPEAr1310"
	help
	  Supports ST SPEAr1310 Machine

endchoice

# Adding SPEAr13XX machine specific configuration files
source "arch/arm/mach-spear13xx/Kconfig1300"
source "arch/arm/mach-spear13xx/Kconfig1310"

config SPEAR_DB9000
	bool "SPEAr DB9000 LCD"
	depends on FB_DB9000 && (ARCH_SPEAR13XX)
	default y
	help
	  Support for DB9000 LCD device driver over SPEAr platform.

endif #ARCH_SPEAR13XX
